* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--clr2);
    font-family: lobster;
    font-size: 1.8em;
}

h1,
h2{
    padding: 10px;
    font-size: 2.6rem;
}
canvas {
    background-color: white;
}

img{
    width: 100%;
    height: 100%;
}