* {
    box-sizing: border-box;
}

html{
    font-family: luckiest-guy;
}

body {
    margin: 0;
    background-color: var(--clr2);
    /* background-color: bisque; */
    font-family: lobster;
    font-size: 1.8em;
}

canvas {
    background-color: white;
}

img{
    width: 100%;
    height: 100%;
}