* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--clr2);
    /* background-color: bisque; */
    font-family: lobster;
    /* font-family: 'alfa'; */
    font-size: 1.8em;
}

h1,
h2{
    padding: 20px;
}
canvas {
    background-color: white;
}

img{
    width: 100%;
    height: 100%;
}