/* grid */

.grid {
    display:grid;
    gap: 15px;
}


/* list */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* flex */

.flex{
    display: flex;
}

.flex.space-between{
justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around
}

.flex.align-center {
    align-items: center;
}

.flex.justify-center {
    justify-content: center;
}

.flex.wrap {
    flex-wrap: wrap;
}