/* MOBILE ONLY   */

@media (max-width: 920px) {
    .main-header .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        justify-content: start;
        height: 100vh;
        background-color: rgb(255 255 255 / 90%);
        min-width: 180px;
        transform: translateX(100%);
        transition: transform .5s, box-shadow .5s;
    }

    body.menu-open .main-nav {
        transform: translateX(0%);
        box-shadow: -10px 0px 15px rgb(0 0 0 / 20%);
    }

    li {
        border-bottom: 1px solid rgb(151, 151, 151);
    }

    .main-header .main-nav li a {
        text-shadow: 2px 2px whitesmoke;
        padding: 20px;
        display: block;
        transition: background-color 0.3s;
    }

    .main-header .main-nav li a:hover {
        background-color: lightgray;
    }

}



/* DESKTOP */

@media (min-width: 920px) {

    .btn-menu {
        margin-inline-end: 25px;
        display: none;
    }

    li {
        /* padding: 0 10px 0; */
        margin-inline-end: 20px;
    }

    li a {
        text-shadow: 2px 2px whitesmoke;
    }

}