.ssd-btns {
    display: inline-table;
    font-size: 18px;
    color: black;
    background-color: var(--clr4);
    width: 110px;
    height: 30px;
    border-radius: 25%;
    border: solid black 2px;
    margin: auto;
    margin-inline-end: 20px;
}
.ssd-btns a {
    text-decoration: none;
    align-self: center;
    align-content: center;
    justify-self: center;
    font-size: 1.25rem;
    color: black;
}