.icon {
    width: 50px;
    height: 40px;
}

.editor-section h1 {
    margin-top: 50px;
    font-size: 1.1em;
}

.editor-container {
    padding: 15px;
    font-family: 'alfa';
    font-size: .8em;
}

.editor-container .grid {
    justify-items: center;
}

.editor-section .btn {
    justify-self: center;
    max-width: 380px;
}