.main-header {
background-color: var(--clr3);
padding-bottom: 10px;
font-family: lobster;
}

.logo {
    font-size: 2em;
    text-shadow: 4px 4px rgb(235, 222, 175);
}

.main-nav{
color: #A68DAD;
}

.btn-menu {
    margin-inline-end: 20px;
}