.main-screen {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 50%);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: ocapity .4s;
}

body.menu-open .main-screen {
    opacity: 1;
    visibility: visible;
}