@font-face {
    font-family: lobster;
    src: url(../../fonts/Lobster/Lobster-Regular.ttf);
}

@font-face {
    font-family: luckiest-guy;
    src: url(../../fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf);
}
